@using HotelFinal.Shared;

<div class="card h-100">
    <div class="card-header">
        <img class="card-img-top" src="icons/double-bed.png"/>
    </div>
    <div class="card-body">
        <div class="text-center fw-bold">
            @RoomType.RType
        </div>
        <div>
            <i class="bi bi-currency-dollar mx-0 my-auto"></i>@RoomType.BaseRentalRate
        </div>
        <div>
            @if (RoomType.Smoking)
            {
                <i class="bi bi-check text-success">Smoking</i>
            }
            else
            {
                <i class="bi bi-slash-circle text-danger">Non Smoking</i>
            }
        </div>
    </div>
    @if (ChildContent is not null)
    {
        <div class="card-footer text-center">
            @ChildContent
        </div>
    }
</div>

@code {
    [Parameter]
    public RoomType RoomType { get; set; }

    [Parameter] 
    public RenderFragment? ChildContent { get; set; }
}
